@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* real */

body {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: JetBrains Mono;
    background-color: rgb(245,245,245);
	overflow: hidden;
}

.mainContent {
	padding: .75rem;
}

.tuiContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.33fr 1fr;
	gap: 1rem;

	height: calc(100vh - 1.5rem);
}

.tuiElement {
	border-radius: .25rem;
	border-style: solid;
	border-width: 3px;

	padding: .75rem;
	overflow: auto;
}

.tuiLegend {
	padding-left: .3rem;
	padding-right: .3rem;
}

.title {
	color: rgb(24,24,24);
	font-weight: 700;
	margin-bottom: .5rem;
}

.text {
	color: rgb(36,36,36);
	margin-bottom: .25rem;
}

.hyperlink {
	color: rgb(57, 57, 57);
}

.footer {
	position: fixed;
	display: flex;
	bottom: 0;
	margin-bottom: 1.5rem;
	left: 50%;
	transform: translate(-50%);
}

.socials a {
	font-size: 18px;
	color: rgb(25, 25, 25);
	margin-right: .75rem;
	text-decoration: none;
	transition: .2s;
}

.socials a:hover {
	color: rgb(57, 57, 57);
	font-size: 24px;
}