@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* real */

body {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Ubuntu;
    background-color: rgb(245,245,245);
}

.headerText {
    font-size: 32px;
    color: black;
	background-clip: text;
	display: inline-block;
	font-weight: 800;
}

.navbar {
	display: flex;
	color: white;
	background-color: rgb(36,36,36);
	align-items: center;
	justify-content: space-between;
	padding: .5rem;
}

.mainContent {
	margin-top: .75rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.searchEl {
	padding-bottom: .25rem;
	display: inline-flex;
	background-color: rgb(48,48,48);
	width: 100%;
	overflow: hidden;
	align-items: center;
}

.preInput {
	color: rgb(255, 255, 255);
	margin-right: .5rem;
}

.username {
	font-weight: 600;
	color: rgb(149, 126, 255);
}

.hostname {
	font-weight: 600;
	color: rgb(201, 187, 0);
}

.terminalWindow {
	padding-left: .25rem;
	background-color: rgb(48,48,48);
}

.command {
	color: rgb(200, 200, 200);
	margin-right: .25rem;
}

#terminalInput {
	font-size: 16px;
	color: white;
	caret-color: rgb(255, 255, 255);
	background: transparent;
	outline: none;
	border-style: none;
	width: 80%;
}

.title {
	font-size: 16px;
}

.windowOptions > i:hover {
	background-color: rgb(48,48,48);
}

#exitButton:hover {
	background-color: red;
}

.search {
	align-items: center;
	display: flex;
	flex-direction: row;
	background-color: rgb(32,32,32);
	color: white;
	padding: .75rem;
	border-radius: .75rem;
}

#queryText {
	color: blue;
}

#whereText {
	color: yellow;
}

#symbolColor {
	color: red;
}

.search > p {
	margin-right: .25rem;
}

.searchBox {
	color: white;
	background: transparent;
	border-radius: .5rem;
	padding: .33rem;
	border-style: none;
	margin-right: .25rem;
	outline: none;
}

.searchButton {
	color: white;
	background-color: transparent;
	border-style: none;
	outline: none;
}

.searchButton:hover {
	background-color: rgb(48,48,48);
}

.headContent {
	font-size: 18px;
	color: rgb(0, 0, 0);
}

.footer {
	position: fixed;
	display: flex;
	bottom: 0;
	margin-bottom: 1.5rem;
	left: 50%;
	transform: translate(-50%);
	backdrop-filter: blur(10px);
}

.socials a {
	font-size: 18px;
	color: rgb(32, 32, 32);
	margin-right: .75rem;
	text-decoration: none;
	transition: .2s;
}

.socials a:hover {
	color: rgb(48, 48, 48);
	font-size: 24px;
}