@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* real */

body {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: JetBrains Mono;
    background-color: rgb(245,245,245);
	overflow: hidden;
}

.mainContent {
	height: 100vh;
	padding: .75rem;
}

.tuiContainer {
	display: grid;
	grid-template-columns: 1.25fr 0.75fr;
	grid-template-rows: 0.25fr 1fr 0.10fr;
	gap: 1rem;
	height: calc(100vh - 1.5rem);
}

.tuiElement {
	border-radius: .25rem;
	border-style: solid;
	border-width: 3px;

	padding: .75rem;
	overflow: auto;
}

.tuiMain, .tuiFoot {
    grid-column: span 2;
}

.tuiLegend {
	padding-left: .3rem;
	padding-right: .3rem;
}

.title {
	color: rgb(24,24,24);
	font-weight: 700;
	margin-bottom: .5rem;
}

.bigText {
	color: rgb(36,36,36);
	margin-bottom: .5rem;
}

.smallText {
	color: rgb(48,48,48);
	margin-bottom: .2rem;
	font-weight: 200;
}

.text {
	color: rgb(36,36,36);
	margin-bottom: .2rem;
}

.hyperlink {
	color: rgb(57, 57, 57);
}

.searchForm {
	display: flex;
}

.productInput {
	background-color: rgb(245,245,245);
	border-style: solid;
	/* border-right: none; */
	width: 100%;
	border-color: rgb(24,24,24);
	padding: .5rem;
}

.submitBtn {
	padding: .5rem;
	border-style: solid;
	border-left: none;
	border-color: rgb(24,24,24);
	background: rgb(245,245,245);
	cursor: pointer;
}

.tuiFoot {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials a {
	
	font-size: 20px;
	color: rgb(25, 25, 25);
	margin-right: .75rem;
	text-decoration: none;
	transition: .2s;
	align-items: center;
	
}

.socials a:hover {
	color: rgb(57, 57, 57);
	font-size: 22px;
}